<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsDualHttpBinding>
        <binding name="serviceEndpoint" >
          
        </binding>
      </wsDualHttpBinding>
    </bindings>
      <client>
        <endpoint address="http://localhost:18375/AnyconnectControlServer" binding="wsDualHttpBinding" contract="CiscoAnyconnectControl.IPC.Contracts.IVpnControlService"
                  bindingConfiguration="serviceEndpoint" name="serviceEndpoint"></endpoint>
      </client>
  </system.serviceModel>
</configuration>